@font-face {
   font-family: 'Nunito Sans';
   src: url('assets/fonts/NunitoSans/NunitoSans10pt-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/NunitoSans/NunitoSans10pt-ExtraBold.woff') format('woff');
   font-weight: 800;
   font-display: swap;
   font-style: normal;
}

:root {
   --color-dark: #39414B;
   --color-white: #fff;
   --color-frame-active: #5FBF77;
   --color-border: #CFCFE4;

   --radii: 18px;
   --frame-radii: 12px;
}

body {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.8rem;
   font-weight: 800;
   color: var(--color-dark);
   padding: 2.4rem;
   background-color: var(--color-white);
}

.container {
   display: flex;
   gap: 24px;
}

main {
   flex: 1 1 auto;
}

.section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 18px;
}

@media (max-width: 902px) {
   .section {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 707px) {
   .section {
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (min-width: 1551px) {
   main {
      flex: 0 0 1215px;
   }
}