@font-face {
   font-family: 'Nunito Sans';
   src: url('assets/fonts/NunitoSans/NunitoSans10pt-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/NunitoSans/NunitoSans10pt-ExtraBold.woff') format('woff');
   font-weight: 800;
   font-display: swap;
   font-style: normal;
}

:root {
   --color-dark: #39414B;
   --color-white: #fff;
   --color-frame-active: #5FBF77;
   --color-border: #CFCFE4;

   --radii: 18px;
   --frame-radii: 12px;
}

body {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.8rem;
   font-weight: 800;
   color: var(--color-dark);
   padding: 2.4rem;
   background-color: var(--color-white);
}